body{
    background-color: rgb(225, 149, 51);
}

.body{
	width: 80%;
	align: center;
}

h1{
    color: black;
}

h3{
    color: #02028c;
}

p{
    color: black;
}

li{
	padding-bottom: 10px;
}

.header {
  padding: 60px;
  text-align: center;
  background: #fdc276;
  color: #000;
  font-size: 20px;
}

.item {
  width: 20%;
  display: inline-block;
}
